@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logoName {
    text-decoration: none;
    color: #D1600D;
    text-transform:capitalize;
    font-size: 1.8em;
    font-weight: 700;

}

.navigation a{
    text-decoration:none;
    color: #D1600D;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}
.navigation a:hover{
    color: #D1600D;
}
section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(ima/1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2 {
    color: #ffffff;
    font-size: 1.6em;   /* 1.4em */
    font-weight: 500;
}
.main h2 span {
    display: inline-block;
    margin-top: 5px;    /* 10px */
    color:#D1600D;
    font-size: 3.3em; /* 3em */
    font-weight: 600;
}

.main h3 {
    color: #ffffff;
    font-size: 2em;     /* 1em */
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}


.main-button {
    color: #ffffff;
    background-color: #D1600D;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-button:hover{
    background-color: #D1600D;
    transform: scale(1.1);
}

.social-icons a{
    color: #ffffff;
    font-size: 1.7em;
    padding-right: 30px;
}

.title {
    display: flex;
    justify-content: center;
    color: #D1600D;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;    
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #ffffff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    color: #D1600D;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}
.info h3 {
    color: #D1600D;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.profile {
    background-color: #0c111d;
}

.profile .content {
    margin-top: 30px;
}

.Proj-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.Proj-card:hover{
    transform: scale(1.1);  
}
.Proj-card:hover .Proj-imag{
    opacity: 0.9;
}

.Proj-imag img{
    width: 100%;
}

.Proj-info {
    padding: 1em;
}

.Proj-cate {
    font-size: 0.8em;
    color: #000;
}
.Proj-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
    
}

.more-details {
    text-decoration: none;
    color: #D1600D;
}

.more-details:hover {
    color: #D1600D;
}


.contact .icon {
    font-size: 4.5em;
}

.contact .info h3 {
    color: #000;
}
.contact .info p {
    font-size: 1.5em;
}

.footer {
    background-color: #0c111d;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
} 

.footer-title span {
    color: #D1600D;
}

.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 18px 0 0;
}